# ca65 linker config for SPC file (Super NES music)

# Physical areas of memory
MEMORY {
  SPCZEROPAGE: start=$0000, size=$00F0;
  SPCDIR:      start=$0200, size=$0100;
  SPCRAM:      start=$0300, size=$FD00;
}

# Logical areas code/data can be put into.
SEGMENTS {
    SPCZEROPAGE: load = SPCZEROPAGE, type=zp;
    SPCDIR:      load = SPCDIR,      type=bss;
    SPCIMAGE:    load = SPCRAM,      align = $100;
    SPCBSS:      load = SPCRAM,      type = bss, align = $100, optional=yes;
}
